﻿@using PartyInvites.Models
@model GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Regrets</title>
</head>
<body>
    <div class="text-center">
        <!--Tell the user you are sorry they can't make it to the party-->
        <p>We're sorry you can't make it @Model.Name!</p>
    </div>
</body>
</html>
