﻿@using PartyInvites.Models
@model GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
            <!--Form for RSVP'ing to the party-->
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Your name:</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Your email:</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Your phone:</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Your Twitter:</label>
                    @Html.TextBoxFor(x => x.TwitterAccount, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Your address:</label>
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                </div>

                <!--This form includes a drop down list that will register the user to a specific branch of the competition-->
                <div class="form-group">
                    @Html.DropDownListFor(x => x.Interest, new[] {
           new SelectListItem() {Text = "Internet of Things", Value = TechnicalInterest.IoT.ToString()},
           new SelectListItem() {Text = "Cognitive Computing", Value = TechnicalInterest.Cognitive.ToString()},
           new SelectListItem() {Text = "Wearable Computing", Value = TechnicalInterest.Wearable.ToString()},
           new SelectListItem() {Text = "Augmented/Virtual Reality", Value = TechnicalInterest.AR_VR.ToString()} },
            "Choose an interest", new { @class = "form-control" })
                </div>

                <!--Using the same name but different values, we are able to direct the user appropriate to his response to the form-->
                <div class="text-center">
                    <input class="btn btn-success" type="submit" name="submit" value="Accept Invitation" />
                    <input class="btn btn-success" type="submit" name="submit" value="Send Regrets" />
                </div>
            }
        </div>

    </div>
</body>
</html>
