﻿@using PartyInvites.Models
@model GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Thanks</title>
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    @{
        <!--Kept this portion from the Chapter 2 follow through of this assignment-->
        try
        {
            WebMail.SmtpServer = "smtp.example.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "mySmtpUsername";
            WebMail.Password = "mySmtpPassword";
            WebMail.From = "rsvps@example.com";

            WebMail.Send("party-host@example.com", "RSVP Notification",
                Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not")
                    + "attending");

        }
        catch (Exception)
        {
            <!--For now this will always show up-->
            @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
        }
    }

    <div class="text-center">
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">
            <!--Using the enum and pairing it with the user's input, we give them feedback and let them know they were correctly enrolled in their desired branch-->
                @if (Model.Interest == TechnicalInterest.IoT) {
                    @:You were enrolled in the @TechnicalInterest.IoT track of the competition
                }
                else if(Model.Interest == TechnicalInterest.Cognitive) {
                    @:You were enrolled in the @TechnicalInterest.Cognitive track of the competition
                }
                else if (Model.Interest == TechnicalInterest.Wearable)
                {
                    @:You were enrolled in the @TechnicalInterest.Wearable track of the competition
                }
                else if (Model.Interest == TechnicalInterest.AR_VR)
                {
                    @:You were enrolled in the @TechnicalInterest.AR_VR track of the competition
                }
        </div>
    </div>
</body>
</html>
